[submodule "HartEng/vendor/spdlog"]
	path = HartEng/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "HartEng/vendor/GLFW"]
	path = HartEng/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "HartEng/vendor/GLAD"]
	path = HartEng/vendor/GLAD
	url = https://github.com/Dav1dde/glad.git
[submodule "HartEng/vendor/imGUI"]
	path = HartEng/vendor/imGUI
	url = https://github.com/ocornut/imgui.git
[submodule "HartEng/vendor/GLM"]
	path = HartEng/vendor/GLM
	url = https://github.com/g-truc/glm.git
[submodule "HartEng/vendor/Assimp"]
	path = HartEng/vendor/Assimp
	url = https://github.com/assimp/assimp.git
